<!-- <core-navbar-buttons slot="end" prepend>
    <ion-button *ngIf="searchEnabled" (click)="openSearch()" [attr.aria-label]="'core.courses.searchcourses' | translate">
        <ion-icon name="fas-magnifying-glass" slot="icon-only" aria-hidden="true" />
    </ion-button>
</core-navbar-buttons>
<ion-content>
    <ion-refresher slot="fixed" [disabled]="!loaded" (ionRefresh)="refreshDashboard($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}" />
    </ion-refresher>

    <core-loading [hideUntil]="loaded">
        <ion-list class="list-item-limited-width" *ngIf="hasMainBlocks">
            <ng-container *ngFor="let block of blocks">
                <core-block *ngIf="block.visible" [block]="block" contextLevel="user" [instanceId]="userId" />
            </ng-container>
        </ion-list>

        <core-block-side-blocks-button slot="fixed" *ngIf="hasSideBlocks" contextLevel="user" [instanceId]="userId" />

        <core-empty-box *ngIf="!hasMainBlocks" icon="fas-cubes" [message]="'core.course.nocontentavailable' | translate" />
    </core-loading>
</ion-content> -->
<ion-content class="ion-padding">
    <div class="item">
        <div class="img-box">
            <img src="https://yislms.com/ankesh/education/assets/img/banner-anaflix.png" alt="" class="img-fluid">
        </div>
    </div>

    <ion-row class="search-container">
        <ion-col class="custombox1">
            <div class="search-container-inner">
                <ion-icon name="search" class="searchicon"></ion-icon>
                <ion-input type="text" placeholder="Search Your Course" class="inputbox"></ion-input>
            </div>
        </ion-col>
        <ion-col class="custombox2">
            <h5 class="heading">Ethics Hotline or POSH Hotline</h5>
        </ion-col>
    </ion-row>

    <div class="course-body">
        <ion-row class="main-course-reshort">
            <ion-col size="6">
                <div class="custom-card">
                    <div class="custom-img">
                        <img class="card-image" src="https://yislms.com/agilemania/pluginfile.php/126/course/overviewfiles/scrum.png" />
                    </div>
                    <h2 class="hr-section">HR Section</h2>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="custom-card">
                    <div class="custom-img">
                        <img class="card-image" src="https://yislms.com/agilemania/pluginfile.php/126/course/overviewfiles/scrum.png" />
                    </div>
                    <h2 class="hr-section">HR Section</h2>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="main-course-reshort">
            <ion-col size="6">
                <div class="custom-card">
                    <div class="custom-img">
                        <img class="card-image" src="https://yislms.com/agilemania/pluginfile.php/126/course/overviewfiles/scrum.png" />
                    </div>
                    <h2 class="hr-section">HR Section</h2>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="custom-card">
                    <div class="custom-img">
                        <img class="card-image" src="https://yislms.com/agilemania/pluginfile.php/126/course/overviewfiles/scrum.png" />
                    </div>
                    <h2 class="hr-section">HR Section</h2>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="main-course-reshort">
            <ion-col size="6">
                <div class="custom-card">
                    <div class="custom-img">
                        <img class="card-image" src="https://yislms.com/agilemania/pluginfile.php/126/course/overviewfiles/scrum.png" />
                    </div>
                    <h2 class="hr-section">HR Section</h2>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="custom-card">
                    <div class="custom-img">
                        <img class="card-image" src="https://yislms.com/agilemania/pluginfile.php/126/course/overviewfiles/scrum.png" />
                    </div>
                    <h2 class="hr-section">HR Section</h2>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="main-course-reshort">
            <ion-col size="6">
                <div class="custom-card">
                    <div class="custom-img">
                        <img class="card-image" src="https://yislms.com/agilemania/pluginfile.php/126/course/overviewfiles/scrum.png" />
                    </div>
                    <h2 class="hr-section">HR Section</h2>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="custom-card">
                    <div class="custom-img">
                        <img class="card-image" src="https://yislms.com/agilemania/pluginfile.php/126/course/overviewfiles/scrum.png" />
                    </div>
                    <h2 class="hr-section">HR Section</h2>
                </div>
            </ion-col>
        </ion-row>



    </div>
</ion-content>
